body {
  padding-top: 50px;
  background: #F7F7F7;
  perspective: 800px;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

#coin {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1s ease-in;
}

#coin div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.side-a {
  background-color: #bb0000;
  z-index: 100;
}

.side-b {
  background-color: #3e3e3e;
  transform: rotateY(-180deg);
}

@keyframes flipHeads {
  from { transform: rotateY(0); }
  to { transform: rotateY(1800deg); }
}

@keyframes flipTails {
  from { transform: rotateY(0); }
  to { transform: rotateY(1980deg); }
}