* {
	box-sizing: border-box;
}

body {
	background: #282828;
	font-family: sans-serif;
}

body > * {
	float: inline-start;
}

/* ---- .sidebar ---- */
.sidebar {
	float: inline-start;
	width: 100px;
	height: 801px;
	background: #a89984;
	border: 2px solid hsla(0, 0%, 0%, 0.6);
	border-radius: 10px;
	margin-right: 1em;
}

ul {
	margin: 0;
	padding: 10%;
}

li {
	margin-bottom: 10%;
	list-style: none;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	background: #3c3836;
}

/* ---- grid ---- */

.grid {
	background: #3c3836;
	width: 1123px;
	height: 806px;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
	float: left;
	width: 200px;
	height: 200px;
	background: #a89984;
	border: 2px solid hsla(0, 0%, 0%, 0.6);
	border-radius: 10px;
}

.grid-item--width2 {
	width: 400px;
}
.grid-item--height2 {
	height: 400px;
}

.grid-item:hover {
	border-color: hsla(0, 0%, 100%, 0.5);
	cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
	background: hsla(0, 0%, 50%, 0.5);
	z-index: 2;
}
