// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "gridstack/dist/gridstack";
@import "../js/widget/calc/calc2.css";
@import "../js/widget/digiclock/digiclock.css";

// Variables
$primary-color: #007bff;
$sidebar-bg: rgb(215, 243, 215);
$sidebar-item-bg: rgb(192, 231, 192);
$grid-stack-bg: #343a40;
$grid-stack-item-bg: #6c757d;
$sidepanel-item-bg: #18bc9c;
$trash-bg: rgba(255, 0, 0, 0.4);
$clock-color: #4a90e2;


// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Widgets by gridstack id
div[gs-id^="calc"] > * {
  padding: 25px;
}

div[gs-id^="clock"] > .grid-stack-item-content{
  @include flex-center();
  flex-direction: column;
  background-color: #2c3e50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  > {
    font-size: 64px;
    margin-bottom: 20px;
    color: $clock-color
  }
}

// Optional styles for demos
.btn-primary {
  color: #fff;
  background-color: $primary-color;
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.sidebar {
  background: $sidebar-bg;
  padding: 25px 0;
  height: 100px;
  text-align: center;

  > .grid-stack-item,
  .sidebar-item {
    width: 100px;
    height: 50px;
    border: 2px dashed green;
    text-align: center;
    line-height: 35px;
    background: $sidebar-item-bg;
    cursor: default;
    display: inline-block;
  }
}

.grid-stack {
  background: $grid-stack-bg;

  > .grid-stack-item.grid-stack-sub-grid > .grid-stack-item-content {
    background: rgba(0, 0, 0, 0.1);
    inset: 0 2px;
  }

  &.grid-stack-nested {
    background: none;
    position: absolute;
    inset: 0;
  }

  .grid-stack-item-content {
    border-radius: 10px;
    text-align: center;
    background-color: $grid-stack-item-bg;
  }

  .grid-stack-item-removing {
    opacity: 0.8;
    filter: blur(5px);
  }
}

.sidepanel-item {
  background-color: $sidepanel-item-bg;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}

#trash {
  background-color: $trash-bg;
}

ion-icon {
  font-size: 300%;
}