// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "gridstack/dist/src/gridstack-extra";
@import "../js/widget/calc/calc2.css";
@import "../js/widget/digiclock/digiclock.css";
@import "../js/widget/weather/weather.css";
@import "../js/widget/notes/notes.css";
@import "../js/widget/coinflip/coinflip.css";
@import "../js/widget/timer/timer.css";

// Variables
$primary-color: #007bff;
$gradient-bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
$sidebar-bg: rgb(215, 243, 215);
$sidebar-item-bg: rgb(192, 231, 192);
$grid-stack-bg: #343a40;
$grid-stack-item-bg: rgba(255, 255, 255, 0.1); // #6c757d;
$sidepanel-item-bg: #18bc9c;
$trash-bg: rgba(255, 0, 0, 0.4);
$clock-color: #4a90e2;

body {
  background: $gradient-bg;
}
// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-stack {
  div[gs-id^="clock"] > .grid-stack-item-content{
  @include flex-center();
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  }

  div[gs-id^="weather"] > .grid-stack-item-content {
    text-align: center;
    border-radius: 15px;
  }

  div[gs-id^="notes"] > .grid-stack-item-content {
    text-align: center;
    padding: 30px;
    border-radius: 12px;
  }

  div[gs-id^="coinflip"] > .grid-stack-item-content {
    padding: 25px;
    border-radius: 15px;
  }

  div[gs-id^="timer"] > .grid-stack-item-content {
    gap: 20px;
    border-radius: 8px;
  }

}

// Optional styles for demos
.btn-primary {
  color: #fff;
  background-color: $primary-color;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #e6f7ff;
  color: #4a90e2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b0c4de;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.sidebar {
  background: $sidebar-bg;
  padding: 25px 0;
  height: 100px;
  text-align: center;

  > .grid-stack-item,
  .sidebar-item {
    width: 100px;
    height: 50px;
    border: 2px dashed green;
    text-align: center;
    line-height: 35px;
    background: $sidebar-item-bg;
    cursor: default;
    display: inline-block;
  }
}

.grid-stack {
  // background: $grid-stack-bg;

  > .grid-stack-item.grid-stack-sub-grid > .grid-stack-item-content {
    background: rgba(0, 0, 0, 0.1);
    inset: 0 2px;
  }

  &.grid-stack-nested {
    background: none;
    position: absolute;
    inset: 0;
  }

  .grid-stack-item-content {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: $grid-stack-item-bg;
  }

  .grid-stack-item-removing {
    opacity: 0.8;
    filter: blur(5px);
  }
}

.sidepanel-item {
  background-color: $sidepanel-item-bg;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}

#trash {
  background-color: $trash-bg;
}

ion-icon {
  font-size: 300%;
}